@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  background-color: #e4e3d3;
  color: #332e3c;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 45em;
  margin: 0 auto;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.25em;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  text-align: center;
}

a {
  font-weight: bold;
  color: #45062e;
}

img {
  display: block;
  margin: 0 auto;
}
